<div class="ms-5 w-75">
    <h5>Form Builder</h5>
    <form [formGroup]="formBuilder" (ngSubmit)="onSubmit()"
        class="border border-secondary p-4 border-opacity-10 rounded">
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-3 col-form-label">Label</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputEmail3" placeholder="Enter label"
                    formControlName="label">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-3 col-form-label">Type</label>
            <div class="col-sm-9">
                <!-- <input type="text" class="form-control" id="inputPassword3" formControlName="type"> -->
                <select class="form-select" aria-label="Default select example" formControlName="type">
                    <option value="">select type</option>
                    <option value="text">text</option>
                    <option value="textarea">textarea</option>
                    <option value="select">select</option>
                    <option value="radio">radio</option>
                    <option value="checkbox">checkbox</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label for="name" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="name" placeholder="Enter value for name attribute"
                    formControlName="name">
            </div>
        </div>
        <div class="row mb-3" *ngIf="(type.value == 'checkbox' || type.value == 'radio' || type.value == 'select')">
            <label for="value" class="col-sm-3 col-form-label">Value</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="value" formControlName="value">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add field</button>
    </form>
</div>